@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Koulen&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("./home.css");
@import url("./view.css");
@import url("./category.css");

* {
  padding: 0px;
  margin: 0px;
}

:root {
  font-size: 16px;

  --primary-color: #ee6c4d;
  --dark-color: #293241;
  --background-color: #dfdfdf;
  --light1-color: #ffffff;
  --light2-color: #f0f0f0;
  --light3-color: #e1e1e1;
  --light4-color: #bfbfbf;
  --light5-color: #4e4e4e;

  --primary-font: "Koulen", cursive;
  --style-font: "Rubik", sans-serif;
  --read-font: "Hind Siliguri", sans-serif;

  --padding: 0.9rem;
  --round: 1.8rem;
}
body {
  background-color: var(--background-color);
}
::-webkit-scrollbar {
  width: 0.1rem;
  height: 0.1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--light2-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light4-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*----color----*/
.primary-color {
  color: var(--primary-color);
}
/*----text----*/
.primary-text {
  font-family: var(--primary-font);
  font-size: 1.2rem;
  font-weight: normal;
}
.read-text {
  font-family: var(--read-font);
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--light5-color);
}
.big-text {
  font-family: var(--style-font);
  font-weight: bold;
  font-size: 1.6rem;
  color: var(--dark-color);
}
.bigger-text {
  font-family: var(--style-font);
  font-weight: bold;
  font-size: 2.4rem;
  color: var(--dark-color);
}
.small-text {
  font-family: var(--primary-font);
  font-weight: normal;
  font-size: 1rem;
  color: var(--light4-color);
}
/*----button----*/
.button3 {
  border: none;
  background: transparent;
  padding: 0 var(--padding);
  font-family: var(--primary-font);
  color: var(--light5-color);
  transition: all ease-in-out 0.2s;
  font-size: 1rem;
}
.button3:hover {
  transform: translate(0, -0.2rem);
}
/*----flex----*/

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.row.top {
  align-items: flex-start;
}
.row-stretch {
  align-items: stretch;
}
.col {
  display: flex;
  flex-direction: column;
}

.col.center {
  align-items: center;
}

.f1 {
  flex: 1;
}
.f2 {
  flex: 2;
}
.f3 {
  flex: 3;
}

/*----element---*/
.hori-line {
  width: 100vw;
  border: none;
  border-bottom: solid 0.12rem var(--light4-color);
}

/*----common----*/
.section {
  height: 50vh;
  align-items: stretch;
}
.padding {
  padding: calc(var(--padding) * 2) calc(var(--padding) * 4);
}
.description {
  padding: var(--padding) 0px;
}
.logo {
  background-image: url("../media/emerylogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 3rem;
  height: 3rem;
}
.topbar {
  padding: var(--padding);
}
